﻿@{
    string Title = SimpleWebSiteLibrary.sql.Message("RegisterHeader");
    ViewBag.Title = " | "+Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Title</h2>

@if (SimpleWebSiteLibrary.SystemSettings.AllowRegister)
{
<div role="form">

  <div class="form-group">
    <label for="txtLogin">@Html.Message("RegisterTxtLogin")</label>
    <input type="text" class="form-control" id="txtLogin" placeholder="@Html.Message("RegisterTxtLoginPlaceholder")">
  </div>

  <div class="form-group">
    <label for="txtEmail">@Html.Message("RegisterTxtEmail")</label>
    <input type="email" class="form-control" id="txtEmail" placeholder="@Html.Message("RegisterTxtEmailPlaceholder")">
  </div>

  <div class="form-group">
    <label for="txtPassword">@Html.Message("RegisterTxtPassword")</label>
    <input type="password" class="form-control" id="txtPassword" placeholder="@Html.Message("RegisterTxtPasswordPlaceholder")">
  </div>

  <div class="form-group">
    <label for="txtPassword2">Пароль еще раз</label>
    <input type="password" class="form-control" id="txtPassword2" placeholder="Пароль еще раз">
  </div>
  <div class="form-group" style="padding: 20px 0px;">
    @Html.CaptureControl("txtCapcha", 5, SimpleWebSiteLibrary.sql.Message("RegisterCapchaRefreshText"), "form-control CapchaControlInput")
  </div>

   <div style="display:inline-block;" class="checkbox">
    <label>
      <input id="CheckRules" type="checkbox"> @Html.Message("RegisterRulesApproveLable")
    </label>
  </div> 
  <button style="margin-right:10px; float:left; margin-top:2px;" onclick="RegisterUser()" id="btnSubmit" type="submit" class="btn btn-default">@Html.Message("RegisterBtnSubmit")</button>
      
</div>
}
else
{
    <div class="alert alert-warning">
        @Html.Message("RegisterNotAllowText")
    </div>
}
