﻿@{
    
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3>@Html.Message("RegisterRulesHeader")</h3>
        </div>
        <div class="modal-body">
            @Html.Message("RegisterRulesContent")
        </div>

        <div class="modal-footer">

        </div>
    </div>
</div>