﻿@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>

    <script>
        VK.init({
            apiId: 4487407
        });
        function authInfo(response) {
            if (response.session) {
                $.post("/register/CheckUserLoginVK",
                    {
                        "sig": response.session.sig
                    },
                    function (data) {
                        alert(data);
                    });
            } else {
                alert('not auth');
            }
        }
    </script>

}
<h2>Test</h2>

<button id="login_button" onclick="VK.Auth.login(authInfo,4194304);">Войти через вконтакте</button>

