﻿@{
    SimpleWebSiteLibrary.CustomPage CusPage = (SimpleWebSiteLibrary.CustomPage)Model.ChildViewModel;
    ViewBag.Title += " | "+ CusPage.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@CusPage.title</h2>
<div>
    @Html.Raw(CusPage.content)
</div>