﻿@{    
    ViewBag.Title = " | " + SimpleWebSiteLibrary.sql.Message("RegisterHeader");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script type="text/javascript">
        
    </script>
}

<h2>@Html.Message("RegisterHeader")</h2>
<div class="alert alert-danger">@Html.Message("RegisterUserEmailExistsMessage")</div>

<div class="form-horizontal" role="form">
  <div class="form-group">
    <label for="txtOldEmail" class="col-sm-2 control-label">@Html.Message("RegisterEmailExistsOldEmailTxtLable")</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="txtOldEmail" readonly="readonly" value="@ViewBag.Email">
    </div>
  </div>
   <div class="form-group">
    <label for="txtEmail" class="col-sm-2 control-label">@Html.Message("RegisterEmailExistsNewEmailTxtLable")</label>
    <div class="col-sm-10">
      <input type="text" onfocusout="CheckUserEmailExists($(this))" class="form-control" id="txtEmail" placeholder="@Html.Message("RegisterTxtEmail")">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="btnRegister" type="button" onclick="RegisterSocialUserWithEmail($('#txtEmail'),'@ViewBag.SocialType')" class="btn btn-default">@Html.Message("RegisterBtnSubmit")</button>
      <form style="display:inline-block;" action="/login/RegisterSocialCancelEmaiConfirmation" method="post">
        <button id="btnCancelRegister" type="submit" onclick="" class="btn btn-default">@Html.Message("RegisterSocialsCancelButton")</button>
      </form>
    </div>
  </div>
</div>
