﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @if(SimpleWebSiteLibrary.SystemSettings.AllowSocialsAuthorization){

        <script type="text/javascript">
            function AuthVK() {
                window.location.replace("https://oauth.vk.com/authorize?"+
                    "client_id=@Socials.Settings.VKapiId&"+
                    "scope=email&"+
                    "redirect_uri=http://@(Request.Url.Host+"/login/AuthorizeVK?returnUrl="+ViewBag.ReturnUrl)&"+
                    "response_type=code&"+
                    "v=5.24");
            }
        </script>
    }


    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtLogin").focus();
        });
    </script>

}

<form class="form-horizontal" role="form" onsubmit="return false;">
  <div class="form-group">
    <label for="txtLogin" class="col-sm-2 control-label">Логин</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="txtLogin" placeholder="Логин">
    </div>
  </div>
  <div class="form-group">
    <label for="txtPassword" class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="txtPassword" placeholder="Пароль">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="chRememberMe"> запомнить меня
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="btnLogin" type="submit" onclick="LoginUser('@ViewBag.ReturnUrl')" class="btn btn-default"><i class="fa fa-sign-in"></i> Войти</button>
        @if(SimpleWebSiteLibrary.SystemSettings.AllowSocialsAuthorization){
            <span class="text-muted">или войдите через:</span> 
            <button title="Войти через ВКонтакте" onclick="AuthVK()" class="btn btn-info"><i class="fa fa-vk"></i></button>
        }
    </div>
  </div>
</form>