﻿@{
    Layout = null;
    string Title = "Система управления контентом";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(Title + ViewBag.Title)</title>

    <script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox.js" type="text/javascript"></script>
    <script src="~/Scripts/bootbox.min.js" type="text/javascript"></script>
    <script src="~/Scripts/CommonScripts.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/scripts.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-formhelpers-phone.js" type ="text/javascript"></script>
    <script src="~/Scripts/bootstrap-formhelpers-phone.format.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.address-1.6.min.js" type="text/javascript"></script>
    <script src="~/Scripts/purl.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.autosize.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />

    <!--Autocomplete Inputs-->
    <script src="~/Scripts/bloodhound.min.js" type="text/javascript"></script>
    <script src="~/Scripts/handlebars-v1.3.0.js" type="text/javascript"></script>
    <script src="~/Scripts/typeahead.jquery.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Controls/Data/autocomplete.js" type="text/javascript"></script>
    <link href="~/Content/typeahead.css" rel="stylesheet" type="text/css" />

    @RenderSection("scripts", required: false)

    @if(ViewBag.AllowJqueryAddress!=null && !string.IsNullOrEmpty(ViewBag.JqueryAddressChange) && ViewBag.AllowJqueryAddress==true)
    {
    <script type="text/javascript">
        var init = true, state = window.history.pushState !== undefined;
        $.address.state('/').change(function (event) {
            if (state && init) {
                init = false;
            }
            else {
                @(ViewBag.JqueryAddressChange+"(event.value)");
            }
        });
        if (!state) {
            document.write('<style type="text/css"> .page { display: none; } </style>');
        }
    </script>
    }

</head>
<body>

    @SimpleWebSite.Areas.Admin.Controls.MainMenu.MainMenuControl(Html, "MainMenu", "~/Areas/Admin/Controls/Data/mainMenu.xml", "dark")

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
