﻿body {
}

/*Registe Page*/
.ShowRegisterRulesButton {
    border-bottom:1px dashed;
}
    .ShowRegisterRulesButton:hover {
        text-decoration:none;
    }
.CapchaValue.CapchaControlInput {
    display:inline-block!important;
    font-size:15px!important;
    margin-top:5px;
}