﻿@{
    ViewBag.AllowJqueryAddress = true;
    ViewBag.JqueryAddressChange = "changeAdminNewsPage";
    
    string Title = "Новости и акции";
    ViewBag.Title += " | "+Title;
    
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    SimpleWebSiteLibrary.NewsCollection newsColl = (SimpleWebSiteLibrary.NewsCollection)Model.ChildViewModel;
    
    List<Dictionary<string,string>> images = new List<Dictionary<string,string>>();
    string ImagePath = Server.MapPath("/Images");
    foreach(string filename in System.IO.Directory.GetFiles(ImagePath))
    {
        FileInfo fi = new FileInfo(filename);
        string path = "/Images/"+fi.Name;
        Dictionary<string, string> image = new Dictionary<string,string>();
        image.Add("src", path);
        images.Add(image);
    }
}

@section scripts{
  
}

<h2>@Title</h2>

@Html.ImageCarousel("someBanner", images, true,true, "","", 1500, false, true,"max-height:300px;")

<div id="AdminNewsTableContainer">
    @Html.Partial("~/Areas/Admin/Views/News/NewsList.cshtml", newsColl)
</div>