﻿@{
    SimpleWebSiteLibrary.About aboutInfo = (SimpleWebSiteLibrary.About)Model.AboutInfo;
    //ViewBag.IsConfirmed.ToString()

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@aboutInfo.name</title>

    <script src="~/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox.js" type="text/javascript"></script>
    <script src="~/Scripts/bootbox.min.js" type="text/javascript"></script>
    <script src="~/Scripts/CommonScripts.js" type="text/javascript"></script>
    <script src="~/Scripts/CustomSiteJS/scripts.js" type="text/javascript"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/CustomSiteCss/styles.css" rel="stylesheet" />

    @RenderSection("scripts", false)

</head>
<body>


    @Html.Partial("~/Views/Shared/AuthorizeUserPanel.cshtml")

    <div class="container">        
        <div class="header">
            <h2>@aboutInfo.name</h2>
        </div>

        <div>
            @RenderBody()
        </div>
        
        <div class="footer">

        </div>
    </div>
</body>
</html>
