﻿@{
    bool IsUserConfirmed = (bool)Model.IsUserConfirmed;
    string CurrentUserFIO = Model.CurrentUserFIO;
}
<style type="text/css">
    .AuthorizeUserPanel {
        padding: 10px 15px;
        background-color: #3d0c0c;
        background: linear-gradient(to right, #3d0c0c, #aaa7a7);
        color: whitesmoke;
        position: fixed;
        width: 100%;
        height:40px;
        z-index: 1050;
        opacity: 0.7;
    }
        .AuthorizeUserPanel:hover {
            opacity:1;
        }
        .AuthorizeUserPanel #btnLogOut {
            margin-top:-1px;
        }
    .AuthorizeAdminPanel {
        padding: 3px 15px;
        background-color: #808080;
        color: whitesmoke;
        position: fixed;
        width: 100%;
        height:25px;
        z-index: 1050;
        opacity: 0.5;
        bottom:0;
    }
        .AuthorizeAdminPanel:hover {
            opacity:1;
        }
        .AuthorizeAdminPanel a {
            color:white;
            font-size:12px;
            cursor:pointer;
        }
</style>
@if(User.Identity.IsAuthenticated)
{
<div class="AuthorizeUserPanel">
    <form action="/login/LogOutUser?ReturnUrl=@Request.RawUrl" method="post">
        <i class="fa fa-user"></i> <span>@CurrentUserFIO</span>
        @if(!IsUserConfirmed){<span style="font-size:11px;">@Html.Message("UserConfirmRequireMessage")</span>}
        <button id="btnLogOut" onclick="" class="btn btn-default btn-xs" style="float:right;">Выход <i class="fa fa-sign-out"></i></button>
    </form>
</div>
}

@if (User.IsInRole("Admin"))
{
    <div class="AuthorizeAdminPanel">
        <a href="/admin"><i class="fa fa-cog"></i> Администрирование</a>
    </div>
}